@font-face {
    font-family: 'phenomenaregular';
    src: url('./phenomena/phenomena-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h4 {
    font-family: "phenomenaregular";
    color: white;
}

.box-menu {
    height: 100%;
    display: flex;
    background-color: #FFFFFF;
    margin: 0%;
    padding: 0%;
}

.barra-menu {
    height: 100%;
    width: 12%;
    padding: 0.5%;
    display: list-item;
    overflow: hidden;
    position: fixed;
    align-items: center;
    justify-items: center;
    background-color: rgb(0, 128, 128);
    background: -moz-linear-gradient(135deg, rgb(0, 128, 128) 0%, rgb(124, 252, 0) 100%);
    background: -webkit-linear-gradient(135deg, rgb(0, 128, 128) 0%, rgb(124, 252, 0) 100%);
    background: linear-gradient(135deg, rgb(0, 128, 128) 0%, rgb(124, 252, 0) 100%);
}

.box-button {
    align-items: center;
}

.button-menu {
    font-weight: 50px;
    color: #fff;
    border: 0;
    margin:10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
    width: 80%;
    border-radius: 3px;
    background-color: rgba(0, 128, 128, 0.623);
}

.button-menu:hover {
    background-color: rgba(126, 252, 0, 0.11);
}

.button-menu:focus{
    background-color: rgba(126, 252, 0, 0.11);
}

.button-accordion {
    margin-top: 10%;
    width: -webkit-fill-available;
}

.button-accordion:hover {
    background-color: rgba(126, 252, 0, 0.11);
}

.button-accordion:focus{
    background-color: rgba(126, 252, 0, 0.11);
}

#logo1 {
    width: 100%;
    min-width: 50px;
}